export(age.deaths, compare.infections, covid.deaths, iceberg.plot, infection.estimator, infection.range.estimator, infections.by.state, state.deaths)

importFrom(grDevices, col2rgb, colorRampPalette, grey, palette, rgb)
importFrom(graphics, abline, axis, box, legend, lines, mtext, par, points, polygon, strwidth, text, title)
importFrom(maps, map)
importFrom(methods, hasArg)
importFrom(phytools, make.transparent)
importFrom(randomcoloR, distinctColorPalette)
importFrom(RColorBrewer, brewer.pal)
importFrom(stats, dpois, fitted, lm, loess, nls, optimize, ppois, predict, setNames)
importFrom(utils, read.csv)
